.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 5px;
  background-color: bisque;
}

.centered {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  border: 10px solid #c65050;
  padding: 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.modal label {
  display: block;
  margin-bottom: 10px;
}

.modal input {
  display: block;
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.modal button {
  display: solid;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #5b3eed;
  color: #fff;
  border: 2px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 30px;
}
